﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3 text-center text-white mt-4">MY FROG</h1>
    <p class="display-3 text-center text-white mt-4">Don't be a fish; be a frog. Swim in the water and jump when you hit ground</p>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2 class="mt-4">What We Do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
        <p>
            <my-app>App Loading...</my-app>
            <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
        </p>
    </div>
    <div class="col-sm-4">
        <h2 class="mt-4">Contact Us</h2>
        <address>
            <strong>Start Bootstrap</strong>
            <br>3481 Melrose Place
            <br>Beverly Hills, CA 90210
            <br>
        </address>
        <address>
            <abbr title="Phone">P:</abbr>
            (123) 456-7890
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">name@example.com</a>
        </address>
    </div>
</div>